<ActionBar class="vh"></ActionBar>

<StackLayout class="login-container">
	<StatusBar ios:barStyle="dark" row="0" *ngIf="isIos"></StatusBar>
	<StatusBar ios:barStyle="dark" barColor="#311B92" row="0" *ngIf="!isIos"></StatusBar>

	<FlexboxLayout class="bgc fs-container">
		<FlexboxLayout>
			<StackLayout style="background-color: #fff;">
				<Textfield
					style="color: #900;"
					autocapitalizationType="none"
					autocorrect="false"
					hint="Email"
					keyboardType="email"></Textfield>
				<Textfield
					hint="Password"
					secure="true"></Textfield>
				<Button text="Login"></Button>
			</StackLayout>
		</FlexboxLayout>
	</FlexboxLayout>
</StackLayout>
